gg-flick-list {
    display: block;
    overflow: hidden;
    height: 600px;
}

gg-flick-list > .overlay {
    position: absolute;
    z-index: 99;
    top: 100px;
    left: 0; right: 0;
    height: 28px;
    text-align: right;
    margin: 0;
    padding: 6px 40px 0 0;
    background-color: rgba(128, 128, 128, 0.2);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}


gg-flick-list > .wrapper > .indicator {
    position: absolute;
    z-index: 99;
    top: 0px;
    left: 3px;
    width: 4px;
    height: 20px;
    background-color: #888;
    border: none;
    margin: 0;
    padding: 0;
    margin: 3px 0 3px 0;
}

gg-flick-list > .wrapper {
    overflow: hidden;
    height: 100%;
}

gg-flick-list .view { 
    position: relative;
    z-index: 10;
    padding: 0px;
    padding-left: 10px;
    margin: 0;
}

gg-flick-list .view ul {
    padding: 0; margin: 0;
    list-style:none;
    list-style-image:none; 
}

gg-flick-list .view ul > li { 
    height: 32px; 
    border-bottom: 1px solid #888;
    line-height: 200%;
    color: #333;
}

gg-flick-list .view ul > li.leading { 
    height: 32px; 
    border-bottom: none;
    border-top: none;
    line-height: 200%;
    color: #333;
}

gg-flick-list .view ul > li.leading:nth-child(2) { 
    border-bottom: 1px solid #888;
}