gg-photo-swipe {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

gg-photo-swipe img.leftcard {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

gg-photo-swipe img.centercard {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

gg-photo-swipe img.rightcard {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

