body, html {
    margin: 0;
    padding: 0;
}

#heading {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: rgba(31, 141, 214, 1.0);
    color: #fff;
    padding: 6px;
    z-index: 1000;
}

aside {
    background: #1f8dd6;
    padding: 0.6em 1em;
    color: #fff;
}

