gg-coverflow {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    perspective: 500px;
    -webkit-perspective: 500px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

gg-coverflow img {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border: none;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom,from(transparent), color-stop(70%, transparent), to(rgba(255,255,255,0.4)));
}

gg-coverflow.stash {
    visibility: hidden;
}

